// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input[type=text] {
    width: 700px;
    padding: 12px 12px;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
}

textarea {
    width: 700px;
    height: 300px;
    padding: 12px 12px;
    border: 2px solid #cc;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit]{
    background-color: black;
    float: left;
    border: none;
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
}

h2, p {
    color: black;
}

body {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
